* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(http://www.upload.ee/image/3950018/1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: verdana, arial, sans-serif;
}

.header {
  width: 100%;
  background: #D2F0EE;
  position: fixed;
  margin-top: 0px;
  z-index: 1;
  padding: 0 10%;
}

.header .logo {
  width: 80px;
  padding: 5px;
  float: left;
  height: 70px;
}

.header .logo img {
  height: 70px;
}

.news img {
  height: 70px;
}

.nav {
  float: right;
  width: 45%;
  margin-top: 2%;
}
.nav ul {
}
.nav ul,li {
  padding: 8px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid black;
}
.nav ul, li a { 
  border: 0px solid #000;
  text-decoration: none;
  color: black;
  display: inline-block;
}
a:hover {
  background: #20B2AA;
}

.content {
  padding: 0 77px;
}
.content img {
  margin-left: 20px;
  height: 200px;
  width: 300px;
}

.content h1 {
  border-top: 1px solid black;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 1%;
  color: rgba(255,255,255,0.8);
}

tr, td {
  border: 1px solid black
}

pre, code {
  padding: 2%;
  border: 1px solid black;
  width: 85%;
}

dl, dt {
  padding: 2px;
}

.content ol, li {
  padding: 2px;
}

.content ul, li {
  padding: 2px;
}

.container {
  top: 75px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  position: relative;
  background: rgba(255,255,255,0.3);
  overflow: hidden;
}

p {
  padding: 2%;
}

.slider {
  padding: 15px;
  margin-top: 60px;
  height: 189px;
  overflow: hidden;
}

.slider img {
  margin-left: 7%;
  position: relative;
  height: 200px;
  width: 85%;
  border-radius: 5px;
}

.news, .content, .footer {
  clear: both;
}

.box1 {
  padding: 1.5%;
  float: left;
  height: 5%;
  width: 25%;
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 25px;
}

.box2 {
  padding: 1.5%;
  float: left;
  height: 15%;
  width: 43%;
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
  text-align: center;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 25px;
}


.footer {
  width: 100%;
  padding: 20px 10%;
  border-radius: 3px;
  border-top: 1px solid black;
}

.footer h1 {
  margin-top: 1%;
  color: rgba(255,255,255,0.8);
}
.footer h2 {
  margin-top: 1%;
  color: rgba(255,255,255,0.8);
}

.footer a {
}

.footer a:hover {
  background: #20B2AA;
}

.box3 {
  float: left;
  width: 23%;
  border-radius: 3px;
  margin-right: 10%;
  padding-bottom: 15px;
}

.form input {float: right;}
.form {text-align: left}
.nupp {float: right; font-family: arial; color: black;}

textarea {float: right; width:53.5%}
label {font-family: Arial; color: black;}
button {float: right; width: 54.5%; border-radius: 5px;}
fieldset {border: 0; width: 100%;}

#navlist {position:relative;}
#navlist li {padding:0;list-style:none;position:absolute;top:0;}
#navlist li, #navlist a {height:32px;display:block;}
#feeds {left:0px;width:32px;}
#feeds {background:url(http://i.imgur.com/Ph7RGcT.jpg) 0 0;}
#feeds:hover {background:url(http://i.imgur.com/Ph7RGcT.jpg) 0 -32px;}
#twitter {left:32px;width:32px;}
#twitter {background:url(http://i.imgur.com/Ph7RGcT.jpg) -32px 0;}
#twitter:hover {background:url(http://i.imgur.com/Ph7RGcT.jpg) -32px -32px}
#facebook {left:64px;width:32px;}
#facebook {background:url(http://i.imgur.com/Ph7RGcT.jpg) -65px 0;}
#facebook:hover {background:url(http://i.imgur.com/Ph7RGcT.jpg) -66px -32px;}
#youtube {left:95px;width:32px;}
#youtube {background:url(http://i.imgur.com/Ph7RGcT.jpg) -98px 0;}
#youtube:hover {background:url(http://i.imgur.com/Ph7RGcT.jpg) -99px -32px;}
#googleplus {left:126px;width:32px;}
#googleplus {background:url(http://i.imgur.com/Ph7RGcT.jpg) -131px 0;}
#googleplus:hover {background:url(http://i.imgur.com/Ph7RGcT.jpg) -132px -32px;}
